<!DOCTYPE html>
<html>
<head>
  <title>CumploApp Mobile</title>
  
  <%= javascript_include_tag "http://code.jquery.com/jquery-1.6.4.min.js" %>
  <%= javascript_include_tag "socketjs" %>
  <%= javascript_include_tag "http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js" %>
  <%= stylesheet_link_tag "http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" %>

  
</head>
<body>

<%= yield %>

</body>
</html>
